* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px; 
}

body {
  background-color: #f8f9fa!important;
}
/* colors */
/* $dark-color: #492338;
$light-color: #E8D6CB;
$light-pink: #D0ADA7;
$gold: #f8c765; */


/* * {
 border: 2px solid red;
} */

/* fonts */

table, th, td {
  border: 1px solid black;
}
th {
  margin: 1px;
  padding: 5px;
}

.font-large {
  font-size: 3rem;
}

.font-med {
  font-size: 2.2rem;
}

.font-sm {
  font-size: 1.5em;
}

h1 {
  color: #f8c765;
  font-size: 2em;
  margin-top: 1.1rem;
}

h2 {
  color: #492340;
  font-size: 1.9em;
  margin: 20px 0;
}

p {
  color: rgb(156, 129, 124);
  text-align: justify;
  font-size: 1.3em;
}

a {
  cursor: pointer;
}

.bg-purple {
  /* background-color: #3b1c2d9d; */
  background-color: #54364A;
}

.text-purple {
  color: #492340;
}

.text-gold {
  color: #f8c765;
}

.bg-gold {
 background-color: #f8c765;
}

.bg-beige {
  background-color: rgba(243, 213, 124, 0.18);
}

.bg-pink {
  background-color: #D0ADA7;
}

.jumbotron {
  background-color: transparent!important;
  width: 100%;
  height: 100%;
}

.card-header {
  padding: 0!important;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 1000px;

}

.header {
 position: relative;
 height: 100%;
}

.bg-header{
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

.header-div {
  background-color: #54364aa1;
  padding: 50px;
}

.header-wrapper, .signUp-wrapper {
  background-color: #ffffff03!important;
  width: 100%;
  padding: 0!important;
}

.gallerry {
  padding: 10px;
}

/* button */

button {
  padding: 15px 20px;
  background-color: #D0ADA7;
  /* background-color: #492340; */
  color:rgba(0, 0, 0, 0.678); 
  font-weight: 500;
  font-size: 1.2em!important;
  float: right;
  border: none;
}

.btn-primary, .btn-primary:not(:disabled):not(.disabled):active{
  background-color: #D0ADA7!important;
  border: none!important;
}

/* form */

form {
  padding: 50px 30px;
  
}

.active-tab {
  background-color: #D0ADA7;
  color: #492340;
}

.width-25 {
  width: 45%;
}

/* nav */

.navbar-brand {
  font-size: 30px!important;
}

.nav-link {
  font-size: 20px;
  border: none!important;
  color: #f8c765!important;
}

.gallery-img:hover{
    z-index: 10000;
    transform: scale(2);
}


/* classes */

.card-header {
  background-color: #492340!important;
}

.nav-link.active {
  background: transparent!important;
  text-decoration: underline;
}

.class-food-img {
  width: 400px;
  height: 400px;
}

@media (max-width: 1300px) {
  .width-25 {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .logo-div {
    width: 50%;
  }
  h1 {
    text-align: center;
    padding: 10px;
    font-size: 1.7em!important;
  }

  .header-div {
    width: 50%;
  }

  .quote-div {
    opacity: 0.7;
  }

  p, .font-med{
    font-size: 20px;
  }

  .class-food-img {
    width: 100%;
    height: 100%;
  }

  .card {
    border-radius: 0!important;
  }

  .width-25 {
    width: 90%;
  }
 }

 @media (max-width: 576px) {
  .header-div{
    width: 100%;
  }

  .navbar-brand {
    font-size: 20px!important;
  }

  .quote-div {
    width: 100%;
    margin: 10% 0%;
    
  }

  p {
    font-size: 17.5px;
  }

  h1 {
    padding: 5px;
    font-size: 1.6em!important;
  }

  .font-med {
    font-size: 1.1em;
  }

  .font-sm {
    font-size: 0.8em;
  }

  .nav-link {
    font-size: 15px;
  }
  

 }

 @media (max-width: 376px) {
  .header-div{
    padding: 10px;

  }
  .quote-div {
    width: 100%;
    padding: 16px;
    margin: 10% 0;
  }

  p {
    font-size: 14px;
  }

  h1{
    padding: 5px;
  }
  
 }



/* @media (max-width: 376px) {
  .header-div {
    padding: 10px;
    margin: 10% 0;
  }

  .quote-div {
    padding: 7px;
    margin: 7% 0;
  }

  h1{
    padding: 2px;
    font-size: 20px!important;
  }

  p {
    font-size: 14px;
  }

  
 } */





